<form action="{% url 'add_transaction' %}" method="post" >
    
    {% csrf_token %}
    <label>{{name}}</label>
    <div class="mb-3">
        {{form.as_p}}
         <div class="form-group">
            <label for="date">Date worked :</label>
            <input type="date" id="date" name="date" class="form-control"   style="max-width:400px" required>
        </div>
     
        <br>
          <label for="time">Arrived at: </label>
        <input type="time" name="time" id="time" class="form-control" value="{{time_value}}"/> 
    </div>
    <br>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>